<template name="addGroup"> 
        <div id="groupes">
            <h2 style="margin-left: 15px;">Mes groupes:</h2>
            <ul>
                {{#each mesGroupesMembre}}
                    <li>
                        <h3><a href="/groupe/{{_id}}">{{name}}</a></h3>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div style="margin-left: 15px;">
            <h5>Créer un groupe:</h5>
            <form name="creerGroupe" class="creationGrp" style="margin-bottom:10px;">
                <input type="text" id="nomGroupe" class="form-control" style ="margin-bottom: 2px;text-align: center;" placeholder="Nom de groupe">
                <input type="submit" id="btnCreer" class="btn btn-primary btn-lg" style ="margin-top: 2px;width:100%" value="Créer">
            </form>
        </div>
</template>