<template name="addGroup"> 
        <style>
                .groupButton {
                    background-color: rgb(0,132,255);
                    color: white;
                    padding:15px 32px;
                    text-align: center;
					border: none;
					cursor: pointer;
                    margin-top: 4px;
                    }
                .groupInput {    
                    background-color: lightgoldenrodyellow;
                    border: none;
                    height: 40px;
                    margin-bottom: 4px;    
            
                }
        </style>  
        <input type="text" id="nomGroupe" class="groupInput" placeholder="Nom de groupe">
        <input type="button" id="btnCreer" class="groupButton" value="Créer">
        <div id="groupes">

            <h3>Mes groupes:</h3>
            <h4>Admin:</h4>
            <ul>
                {{#each mesGroupesAdmin}}
                <li><a href="/groupe/{{_id}}">{{name}}</a></li>
                {{/each}}
            </ul>
            <h4>Membre</h4>
            <ul>
                {{#each mesGroupesMembre}}
                <li><a href="/groupe/{{_id}}">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
</template>