<template name="changePW">
	{{> Template.dynamic template=main}}
	{{#if currentUser}}
	<header class="essai" style="height:90px;">{{> headerWNO}}</header>
	<div class="PWChange" style="width:240px;margin:auto;margin-top: 20px;opacity:0">
		<h3 style="width:100%;text-align:center;">Changez votre mot de passe</h3>
		<form style="width:100%" name="changeYourPW" id="newUserPW" class="form-group">
			<p style="width:100%">
				<input type="password" name="oldPW" id="oldPW" class="form-control" placeholder="Votre ancien mot de passe" autocomplete="off" style="width:100%; margin-bottom: 2px;text-align:center;">
			</p>
			<p style="width:100%">
				<input type="password" name="newPW" id="newPW" class="form-control" placeholder="Votre nouveau mot de passe" autocomplete="off" style="width:100%;margin-bottom: 2px;text-align:center;">
			</p>
			<input type="submit" name="validatePW" class="btn btn-primary btn-lg" value="Confirmer" id="validationPW" style="width:100%;">
		</form>
		<input type="button" id="cancelLogin" class="btn btn-outline-primary btn-lg" value="Retour" style="width:100%">
	</div>
	<script type="text/javascript">
		$(function(){
			$('.PWChange').ready(function(){
				$('.PWChange').css('opacity','0.5').animate({width:'300px',opacity:'1'},500);
				$('.essai').animate({width:'300px'},500);
			});
		});
	</script>
	{{else}}
		{{> errorPage}}
	{{/if}}
</template>