<template name="changePW">
	{{> Template.dynamic template=main}}
	<div class="PWChange" style="width:300px;height:300px;margin:auto;">
		<h3 style="width:100%;text-align:center;">Changer votre mot de passe</h3>
		<form style="width:100%" name="changeYourPW" class="newUserPW">
			<p style="width:100%">
				<input type="password" name="oldPW" id="oldPW" placeholder="Votre ancien mot de passe" autocomplete="off" style="width:100%;text-align: center;background-color: rgb(216,216,216); color: black; border: none;height: 40px; margin-bottom: 2px; cursor: auto;">
			</p>
			<p style="width:100%">
				<input type="password" name="newPW" id="newPW" placeholder="Votre nouveau mot de passe" autocomplete="off" style="width:100%;text-align: center;background-color: rgb(216,216,216); color: black; border: none;height: 40px; margin-bottom: 2px; cursor: auto;">
			</p>
			<input type="submit" name="validatePW" value="Confirmer" class="validationPW" style="width:100%; background-color: rgb(0,132,255); color: white; padding:10px 20px;text-align: center; border: none;cursor: pointer;">
		</form>
		<input type="button" class="cancelLogin" value="Retour" style="background-color: rgb(216, 216, 216); padding: 10px 0px; color: black; cursor: pointer; border: none;margin-top: 5px;width:100%">
	</div>
</template>