<template name="groupe">
        <header>{{> header}}</header>
        <h1>Votre horaire de groupe comparé</h1>
        <h2>
            {{#each thisGroupName}}
            {{name}}
            {{/each}}
        </h2>
        <a href="/" class="goBack">Retour</a><br/>
        <h4>Ajouter un autre utilisateur au groupe</h4>
            <input type="text" id="addUser" placeholder="Ajouter un membre">
            <input type="button" id="ajouterUt" value="Ajouter"><br>
            <h4>Changer le nom du groupe</h4>
            <input type="text" id="groupNameInput" placeholder="Changer le nom">
            <input type="button" id="groupNameButton" value="Valider"><br>
            <input type="button" id="lienGrp" value="Afficher Calendrier">
            <input type="button" id="quitGrp" value="Quitter ce groupe">
        <h4>Admin:</h4>
            {{#each thisGroupAdmin }}
            {{emails.address}}
            {{/each}}
        <h4>Membres:</h4>
        <ul>
            {{#each thisGroupMembers}}
            <li>{{emails.address}}</li>
            {{/each}}
        </ul>
    </template>