<template name="groupe">
    <header>{{> header}}</header>
    <table style="width:75%;margin-left:12.5%;margin-top:15px;">
        <tr>
            <td colspan=2>
                {{#if estAdmin}}
                    <h1>{{nomGroupe}}<button id="groupNameButton" style="font-size: 15px; border: white; margin-left: 15px;transform: scale(-1, 1);">✎...</button></h1>
                {{else}}
                    <h1>{{nomGroupe}}</h1>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td style="width:25%">
                {{#if estAdmin}}
                    <div style="margin-bottom:100%;">
                        <div>
                            <h3>Ajouter un autre utilisateur</h3>
                            <form name="ajouterUtilisateur" id="ajoutDUtilisateur" class="form-inline">
                                <input type="text" id="addUser" class="form-control" placeholder="Adresse e-mail" autocomplete="off">
                                <input type="submit" id="ajouterUt" class="btn btn-primary btn-lg" value="Ajouter" style="margin-left: 15px;">
                            </form>
                            <br>
                        </div>
                        <div id="groupes">
                            <h2>Admin:</h2>
                            <ul>
                                <li>
                                    <h4>{{monAdmin}}</h4>
                                </li>       
                            </ul>
                            <h2>Membres:</h2>
                            <ul>
                                {{#each mesMembres}}
                                    <li>
                                        <h4 id="nomUser" class="mb-0">
                                            {{monMembre}} 
                                            <button class="banUser" id="{{membreId}}" style="border: white;">✕</button>
                                        </h4> 
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <br>
                        <button id="sendEmail" class="btn btn-primary btn-lg">
                            <a href="mailto:{{mailingList}}?subject=Nouveau%20message%20à%20propos%20du%20groupe%20{{nomGroupe}}" style="color:white; text-decoration: none;">Envoyer un message au groupe</a>
                        </button>
                        <input type="button" id="groupDeleteButton" class="btn btn-danger btn-lg" value="Supprimer ce groupe" style="margin-top:2%;">
                        <a href="/">
                            <input type="button" value="Retour" class="btn btn-primary btn-lg" style="margin-top: 5px;">
                        </a>
                    </div>
                {{else}}
                    <div style="margin-bottom:100%">
                        <div>
                            <h2>Admin:</h2>
                            <ul>
                                <li>
                                    <h4>{{monAdmin}}</h4>
                                </li>
                            </ul>
                            <h2>Membres:</h2>
                            <ul>
                            {{#each mesMembres}}
                                <li>
                                    <h4>{{monMembre}}</h4>
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                        <br>
                        <input type="button" id="groupLeaveButton" class="btn btn-primary btn-lg" value="Quitter ce groupe"><br>
                        <a href="/">
                            <input type="button" value="Retour" class="btn btn-primary btn-lg" style="margin-top: 5px;">
                        </a>
                    </div>
                {{/if}}
            </td>
            <td style="width:75%;" valign="top">
                {{> semaineDeGroupe}}
            </td>
        </tr>
    </table>
</template>