<template name="header">
    <div class="container">
   
   <div style="padding:10px;" >
       <h3 style="display:inline-block;border-bottom:1px solid #CCC; width:100%; float:left; padding-bottom:3px;" class="page-header;">Compromise</h3>
       <div style="float: right; margin:5px;"> {{> loginButtons align="right"}}</div>
       {{#if currentUser }}
        {{> sAlert}}
       <input class="btn btn-primary pull-right;" type="button" id="prive" value="non" style="float:right ;margin:5px;background-color: rgb(0,132,255);
       color: white; padding:5px 22px;text-align: center;cursor: pointer;border: none; display: block;"><p style="float:right;margin:5px;">Privé: </p>
       {{/if}}
    </div>
    </div>
   
</template>
