<template name="header">
    <div style="height:90px;border-bottom:solid #3ea1e6 2px;" class="monElem">
        <h1 class="display-1" style="margin-left: 30px;color:#3ea1e6;">Compromise</h1>
        <nav class="form-inline" style="float:right; margin-top: -45px;margin-right: 20px;">
            <h5 class="mesBoutons" style="margin: 2px;"> Privé: </h5>
            <button id="prive" class="btn btn-outline-primary btn-lg mesBoutons" style="margin: 2px;">
        	    {{#if comptePrive}}oui{{else}}non{{/if}}
            </button>    
            <div> 
            <div class="btn-group mesBoutons">
                <button type="button" class="btn dropdown-toggle btn-primary btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 2px;">
                    {{nomUt}} 
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <button id="displayInt" class="dropdown-item">Instructions</button>
                    <a href="/password" id="changerMotDePasse" class="dropdown-item">
                        Changer le mot de passe
                    </a>
                    {{> delUserBtn}}
                </div>
            </div>
            </div>
            <div class="mesBoutons">{{> logOutLink}}</div>
        </nav>
    </div>
    {{> sAlert}}
</template>
