<template name="homePage">
            <div id="topcontent">
            <h1 class="display-1 elem1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;margin-top:13%;opacity:0;">Compromise</h1>
		        <p class="elem2" style="text-align:center;width:750px;margin-left:auto;margin-right:auto;font-size:13px;opacity:0;">
                <b style="color:#3ea1e6;">Compromise</b> est une application destinée aux rencontres. En remplissant rapidement un horaire-type pour vos semaines, comparez vos disponibilités avec n'importe quel utilisateur ! Qui sait, peut-être que vous trouverez du temps à passer avec des gens que vous ne soupçonniez pas !
            </p>
            <hr style="background-color:#3ea1e6; width:50%; height:2px; border:none;opacity:0;" class="elem3" align="center"/>
		        <div style="text-align:center;width:300px;margin-left:auto;margin-right:auto;">
		        	<p>
                    	<a href="/login">
                    		<input type="button" value="Se connecter" class="btn btn-primary btn-lg elem4" style="cursor: pointer; margin-top: 5px; width:100%; color:white;opacity:0;">
                    	</a>
                	</p>
                	<p>
                    	<a href="/register">
                    		<input type="button" value="Se créer un compte" class="btn btn-outline-primary btn-lg elem5" style="cursor: pointer; margin-top: 5px; width:100%;opacity:0;">
                    	</a>
                	</p>
                	<p>
                    	<input type="button" value="Instructions" id="displayInt" class="btn btn-primary btn-lg elem6" style="cursor: pointer; margin-top: 5px; width:100%; color:white;opacity:0;">
                	</p>
            	</div>
            <p class="elem7" style=";text-align:center;color:lightgrey;font-size:10px;width:75%;margin-left:12.5%;margin-top:15%;opacity:0;">
                Application réalisé par Saara Jones, Antoine Klotz, Joël Rimaz et Sorcha Walsh dans le cadre du cours <em>Programmation pour Internet II - Meteor.js</em> donné par Isaac Pante et Loris Rimaz à l'Université de Lausanne au cours du semestre de printemps 2018.
            </p>
            <hr  class="elem8" style="background-color:#3ea1e6; width:100%; height:3px; border:none;opacity:0;" align="center"/>
        </div>
        {{> menuDeroulant}}
        <script type="text/javascript">
            $(function(){
                $('.topcontent').ready(function(){
                    $('.elem1').animate({opacity:'1'},200);
                    $('.elem2').animate({opacity:'1'},300);
                    $('.elem3').animate({opacity:'1'},400);
                    $('.elem4').animate({opacity:'1'},500);
                    $('.elem5').animate({opacity:'1'},600);
                    $('.elem6').animate({opacity:'1'},700);
                    $('.elem7').animate({opacity:'1'},800);
                    $('.elem8').animate({opacity:'1'},800);
                })
            })
        </script>
</template>