<template name="homePage">
            <div id="topcontent">
            <h1 class="display-1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;margin-top:13%;">Compromise</h1>
		        <p style="text-align:center;width:750px;margin-left:auto;margin-right:auto;font-size:13px;">
                <b style="color:#3ea1e6;">Compromise</b> est une application destinée aux rencontres. En remplissant rapidement un horaire-type pour vos semaines, comparez vos disponibilités avec n'importe quel utilisateur ! Qui sait, peut-être que vous trouverez du temps à passer avec des gens que vous ne soupçonniez pas !
            </p>
            <hr style="background-color:#3ea1e6; width:50%; height:2px; border:none;" align="center"/>
		        <div style="text-align:center;width:300px;margin-left:auto;margin-right:auto;">
		        	<p>
                    	<a href="/login">
                    		<input type="button" value="Se connecter" class="btn btn-primary btn-lg" style="cursor: pointer; margin-top: 5px; width:100%; color:white;">
                    	</a>
                	</p>
                	<p>
                    	<a href="/register">
                    		<input type="button" value="Se créer un compte" class="btn btn-outline-primary btn-lg" style="cursor: pointer; margin-top: 5px; width:100%;">
                    	</a>
                	</p>
                	<p>
                    	<input type="button" value="Instructions" id="displayInt" class="btn btn-primary btn-lg" style="cursor: pointer; margin-top: 5px; width:100%; color:white;">
                	</p>
            	</div>
            <p style=";text-align:center;color:lightgrey;font-size:10px;width:75%;margin-left:12.5%;margin-top:15%">
                Application réalisé par Saara Jones, Antoine Klotz, Joël Rimaz et Sorcha Walsh dans le cadre du cours <em>Programmation pour Internet II - Meteor.js</em> donné par Isaac Pante et Loris Rimaz à l'Université de Lausanne au cours du semestre de printemps 2018.
            </p>
            <hr style="background-color:#3ea1e6; width:100%; height:3px; border:none;" align="center"/>
          </div>
            {{> menuDeroulant}}
</template>