<template name="contenuInstructions">
	<input type="button" id="backToTop" class="btn btn-outline-primary btn-lg fadeInElement" value="Retour" style="margin-top:2%;width:20%;margin-left:40%;">
                <h1 class="display-1 fadeInElement" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;margin-top:3%">Instructions</h1>
                <table style="margin-left:5%;width:90%;margin-top:1%;height:750px;" class="fadeInElement">
                    <tr>
                        <td style="width:33%;height:33%;" align="center">
                            <table style="width:75%;height:75%;">
                                <tr>
                                    <th style="border: solid white 5px;width:33%;"></th>
                                    <th style="border: solid white 5px;width:33%;text-align:center;font-weight:bold;">
                                        lundi
                                    </th>
                                    <th style="border: solid white 5px;width:33%;text-align:center;font-weight:bold;">
                                        mardi
                                    </th>
                                </tr>
                                <tr>
                                    <td style="border: solid white 5px;">
                                        <b>08:00</b>
                                    </td>
                                    <td style="background-color:hsla(109, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(09, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: solid white 5px;">
                                        <b>09:00</b>
                                    </td>
                                    <td style="background-color:hsla(109, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(09, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: solid white 5px;">
                                        <b>10:00</b>
                                    </td>
                                    <td style="background-color:hsla(109, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(09, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: solid white 5px;">
                                        <b>11:00</b>
                                    </td>
                                    <td style="background-color:hsla(49, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ~
                                    </td>
                                        <td style="background-color:hsla(09, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: solid white 5px;">
                                        <b>12:00</b>
                                    </td>
                                    <td style="background-color:hsla(49, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ~
                                    </td>
                                        <td style="background-color:hsla(09, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:33%;height:33%;" align="center">
                            <table style="width:75%;height:75%;">
                                <tr>
                                    <th style="border: solid white 5px;width:33%;text-align:center;font-weight:bold;">
                                        jeudi
                                    </th>
                                    <th style="border: solid white 5px;width:33%;text-align:center;font-weight:bold;">
                                        vendredi
                                    </th>
                                    <th style="border: solid white 5px;width:33%;text-align:center;font-weight:bold;">
                                        samedi
                                    </th>
                                </tr>
                                <tr>
                                    <td style="background-color:hsla(79, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                    <td style="background-color:hsla(49, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:hsla(79, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                    <td style="background-color:hsla(49, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:hsla(79, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✓
                                    </td>
                                        <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                    <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:hsla(59, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ~
                                    </td>
                                    <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                    <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:hsla(59, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ~
                                    </td>
                                    <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                    <td style="background-color:hsla(29, 75%, 55%, 1); border: white solid 5px; text-align:center; color:white;font-weight: bold;">
                                        ✕
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:33%;height:33%;" valign="center">
                          <h2 style="width:75%;margin-left:12.5%;">Membres du groupe "Amis" :</h2>
                            <ul style="width:50%;margin-left:25%;">
                                    <li>
                                        <h4 id="nomUser" class="mb-0">
                                            Alexandre
                                        </h4> 
                                    </li>
                                    <li>
                                        <h4 id="nomUser" class="mb-0">
                                            Marc
                                        </h4> 
                                    </li>
                                    <li>
                                        <h4 id="nomUser" class="mb-0">
                                            Julie
                                        </h4> 
                                    </li>
                                    <li>
                                        <h4 id="nomUser" class="mb-0">
                                            Lauren
                                        </h4> 
                                    </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33%;height:66%;" align="center" valign="top">
                            <h3 class="display-1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;font-size:30px;">
                              Compléter
                            </h3>
                            <p style="font-size:15px;text-align:justify;width:90%;">
                              En créant votre compte, vous pouvez remplir une grille-horaire représentant les disponibilités générales de vos semaines. En utilisant les boutons situés en bas à droite de l'horaire, vous pouvez indiquer si vous êtes : <br>
                              <ul>
                                  <li>Indisponible</li>
                                  <li>Éventuellement disponible</li>
                                  <li>Disponible</li>
                              </ul>
                              Ainsi, vous pouvez personnaliser à votre guise votre horaire-type. Il y a également la possibilité de cliquer sur les jours et sur les heures sur les côtés afin de changer votre disponibilité pour un jour ou un fuseau-horaire complet. <br>
                              Cet horaire sera utilisé pour comparer vos disponibilités avec celles d'autres utilisateurs.
                            </p>
                        </td>
                        <td style="width:33%;height:66%;" align="center" valign="top">
                            <h3 class="display-1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;font-size:30px;">
                              Comparer
                            </h3>
                            <p style="font-size:15px;text-align:justify;width:90%;">
                              En recherchant un utilisateur par son adresse email où son pseudonyme, vous pouvez simplement comparer votre horaire avec cette personne, pour autant qu'elle ait accepté de partager son profil. <br>
                              Vous pouvez de votre côté également bloquer l'accès de vos informations à d'autres utilisateurs en passant votre compte en privé. Cela empêchera quiconque voulant comparer son horaire directement avec le vôtre de le faire. Cela ne vous empêche pas pour autant d'être ajoutés à des groupes et d'en créer.
                            </p>
                        </td>
                        <td style="width:33%;height:66%;" align="center" valign="top">
                            <h3 class="display-1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;font-size:30px;">
                              Regrouper
                            </h3>
                            <p style="font-size:15px;text-align:justify;width:90%;">
                              Une fois votre horaire remplis, vous pouvez créer et être ajoutés à des groupes ! Pour cela, rien de plus simple : il suffit de remplir le court formulaire demandant un nom pour le groupe que vous voulez créer. Depuis là, vous serez redirigé vers votre groupe fraîchement créé !<br>
                              Sur votre groupe, vous pourrez modifier son nom, ajouter des membres en les cherchant par leur email ou leur pseudonyme, et retirer les membres du groupe. A chaque membre ajouté ou retiré, ainsi qu'à chaque fois qu'un membre modifie son horaire personnel, l'horaire affiché dans le groupe, qui compare et compile les disponibilités de tous les membres, sera mis à jour automatiquement.<br>
                              Si vous êtes ajouté à un groupe, vous ne pouvez pas faire tout cela : vous pouvez seulement quitter le groupe, et ce quand vous le désirez, à la simple pression d'un bouton.<br>
                              Le but de <b style="color:#3ea1e6;">Compromise</b> est de rassembler les gens, et nous espérons que vous aurez du plaisir à découvrir des disponibilités insoupçonnées entre vous et vos familles, collègues et amis.
                            </p>
                        </td>
                    </tr>
                </table>
</template>