<template name="login">
	  {{> Template.dynamic template=main}}
    {{#if currentUser}}
		    <div id="topcontent">
        <header>{{> header}}</header>
  			        <table style="width:75%;margin-left:12.5%;">
  				          <tr>
  					            <td style="width:75%;height:100%;" rowspan=2>
  						              {{> tableauSemaines}}
  					            </td>
  					            <td style="width:25%;height:20%%;" valign="top">
  						              {{> maRecherche}}
					              </td>
  				          </tr>
  				          <tr>
  					            <td style="width:25%;height:80%;" valign="bottom">
  						              {{> addGroup}}
  					            </td>
  				          </tr>
  			        </table>
        </div>
        {{> menuDeroulant}}
        {{else}}
            <div class="erreurUtilisateur" style="opacity:0;">
    <h1 class="display-1" style="color:#3ea1e6;margin-left:auto;margin-right:auto;text-align:center;width:300px;margin-top:13%;">Erreur !</h1>
        <p style="text-align:center;width:750px;margin-left:auto;margin-right:auto;font-size:13px;">
              Il semblerait que vous essayez d'accéder à une page à laquelle vous n'avez pas accès !
        </p>
        <div style="margin-left:auto;margin-right:auto;text-align:center;width:300px;">
          <a href="/">
                <input type="button" value="Retour à la page d'accueil" class="btn btn-outline-primary btn-lg" style="width:100%">
            </a>
        </div>
  </div>
    <script type="text/javascript">
      $(function(){
        $('.erreurUtilisateur').animate({opacity:'1'},500);
      })    
    </script>
    {{/if}}
</template>
