<template name="login">
	  {{> Template.dynamic template=main}}
		    <div id="topcontent">
        <header>{{> header}}</header>
  			        <table style="width:75%;margin-left:12.5%;">
  				          <tr>
  					            <td style="width:75%;height:100%;" rowspan=2>
  						              {{> tableauSemaines}}
  					            </td>
  					            <td style="width:25%;height:20%%;" valign="top">
  						              {{> maRecherche}}
					              </td>
  				          </tr>
  				          <tr>
  					            <td style="width:25%;height:80%;" valign="bottom">
  						              {{> addGroup}}
  					            </td>
  				          </tr>
  			        </table>
          </div>
          {{> menuDeroulant}}
</template>
