<template name="login">
	{{#if currentUser }}
		<header>{{> header}}</header>
  		{{#if comparaisonTriggered}}
  			{{> semaineComparee}}
  		{{else}}
  			{{> maRecherche}}
		  	{{> tableauSemaines}}
  		{{/if}}
	{{else}}
		<h1 style="margin-left:auto;margin-right:auto;text-align:center;width:200px;margin-top:15%;">Compromise</h1>
		<p style="text-align:center;width:750px;margin-left:auto;margin-right:auto;"><b style="color:Lightblue">Compromise</b> est une application destinée aux rencontres. En remplissant rapidement un horaire-type pour vos semaines, comparez vos disponibilités avec n'importe quel utilisateur ! Qui sait, peut-être que vous trouverez du temps à passer avec des gens que vous ne soupçonniez pas !</p>
		<p style="text-align:center;width:100px;margin-left:auto;margin-right:auto;">{{> loginButtons align="right"}}</p>
	{{/if}}
</template>