<template name="newTd">
	{{#each periode}}
	<tr>
		<td>{{heure}}</td>
		<td id="lundi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="mardi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="mercredi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="jeudi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="vendredi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="samedi_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
		<td id="dimanche_{{id_heure}}" class="semaine" value=0>
			&nbsp;
		</td>
	</tr>	
	{{/each}}
</template>