<template name="newTd">
	{{#each periode}}
	<tr>
		<td>{{heure}}</td>
		<td id="lundi_{{id_heure}}" class="semaine" value={{valeurLundi}}>
			&nbsp;
		</td>
		<td id="mardi_{{id_heure}}" class="semaine" value={{valeurMardi}}>
			&nbsp;
		</td>
		<td id="mercredi_{{id_heure}}" class="semaine" value={{valeurMercredi}}>
			&nbsp;
		</td>
		<td id="jeudi_{{id_heure}}" class="semaine" value={{valeurJeudi}}>
			&nbsp;
		</td>
		<td id="vendredi_{{id_heure}}" class="semaine" value={{valeurVendredi}}>
			&nbsp;
		</td>
		<td id="samedi_{{id_heure}}" class="semaine" value={{valeurSamedi}}>
			&nbsp;
		</td>
		<td id="dimanche_{{id_heure}}" class="semaine" value={{valeurDimanche}}>
			&nbsp;
		</td>
	</tr>	
	{{/each}}
</template>