<template name="menuDeroulant">
	<div style="position:fixed;top:100%;width:100%;height:100%;background-color:white;border-top: 3px solid #3ea1e6;" id="content">
                {{> contenuInstructions}}}
            </div>
            <script type="text/javascript">
            	$(function(){
    				$('#displayInt').click(function(){
            			//montrer la div blanche, cacher le contenu de la page de base
            			$('#content').stop(true, false).animate({top:'1%'},1000,function(){
            				$('#topcontent').hide();
        	    			$('#content').css("position","relative");
        				});
    				});
				});
				//quand on clique sur le bouton "retour", on revient à la normale
				$(function(){
					$('#backToTop').click(function(){
            			$('#topcontent').show();
            			$('#content').css("position","fixed").stop(true, false).animate({top:'100%'},500);
					});
				});
            </script>
</template>