<template name="maRecherche">
        <style>
                .Button {
                    background-color: rgb(0,132,255);
                    color: white;
                    padding:10px 20px;
                    text-align: center;
                    border: none;
                    height: 40px;
                    margin-bottom: 4px;
                    cursor: pointer;
                    
            
               
                }
                .searchButton{
                    background-color: lightgoldenrodyellow;
                    border: none;
                    height: 40px;
                    margin-bottom: 4px;


                    
                }    
            </style>     
    <h4>Rechercher un autre utilisateur par son adresse mail.</h4>

    
    <form class="searchUser">
            <div class="input-group">
                    <div class="input-group-prepend">
        
                 <input type="text" id="mySearch" class="searchButton; btn btn-success;" placeholder="Entrer l'email de l'utilisateur">
     </div>
                 <input type="submit" id="mySearchButton" class="Button; form-control;" value="Go">
     </div>
    
    </form>
</template>