<template name="maRecherche">
            
    <h4 style="margin-left: 21px;">Rechercher un autre utilisateur par son adresse mail.</h4>
    

    
    <form class="searchUser" style="margin-left: 20px;">
        
        
                 <input type="text" id="mySearch" class="searchButton; btn btn-success;" style ="background-color: lightgoldenrodyellow; border :none;height:40px; margin-bottom: 4px; cursor:auto;" placeholder="Entrer l'email de l'utilisateur">
     
                 <input type="submit" id="mySearchButton" class="Button; form-control;"  style ="color: white; background-color:  rgb(0,132,255); padding: 10px 20px; text-align:center;   border: none; height: 40px; margin-bottom: 4px; cursor: pointer;" value="Go">
     
  
    </form>
</template>