<template name="maRecherche">     
    <h3 style="margin-left: 15px;margin-top: 50px;">Comparez votre horaire avec celui de quelqu'un d'autre</h3>
    <form ca="searchUser" class="form-inline searchUser" style="margin-left: 15px;">
        <input type="text" id="mySearch" class="form-control" style ="margin-bottom: 4px;width:100%;text-align: center;" placeholder="Nom d'utilisateur ou adresse email"><br>
        <input type="submit" id="mySearchButton" class="btn btn-primary btn-lg"  style ="margin-bottom: 4px;width:100%" value="Entrer">
    </form>
</template>