<template name="semaineComparee">
	{{> Template.dynamic template=main}}
	<div id="topcontent">
		<header>{{> header}}</header>
		<h1 style="width:50%;text-align:center;margin-left:25%; margin-top: 15px;">
			Votre horaire comparé avec {{nomComparaison}}
		</h1>
		<input type="button" id="goBack" class="btn btn-outline-primary btn-lg" value="Retour" style="margin-top: 5px;margin-left:47.5%;width:5%">
		<table style="margin-left:auto;margin-right:auto;">
			<tr>
				<td style="width:100%;">
					<table border=1>
						<tr>
							<td style="height:30px; border: white solid 5px;">&nbsp;</td>
							{{#each jour}}
								{{> newTr}}
							{{/each}}
						</tr>
						{{> newTdComp}}
					</table>
				</td>
			</tr>
		</table>
	</div>
	{{> menuDeroulant}}
</template>