<template name="tableauSemaines">
	<table style="width:100%;margin-top: 20px;">
		<tr>
			<td style="width:100%;">
				<table border=1>
					<tr>
						<td  style="height:30px; border: white solid 5px;">&nbsp;</td>
						{{#each jour}}
							{{> newTr}}
						{{/each}}
					</tr>
					{{> newTd}}
				</table>
			</td>
		</tr>
		<tr>
			<td align="right" style="width:100%;">
				<p style="width:70%;">
					<div style="border-right:white 10px solid;">
						<button id="red" class ="btn btn-danger btn-lg" style="background-color:hsl(9, 70%, 70%, 1)">Pas Disponible</button>
						<button id="yellow" class ="btn btn-warning btn-lg" style="background-color:hsl(49, 70%, 70%, 1); color: white;">Eventuellement</button>
						<button id="green" class ="btn btn-success btn-lg" style="background-color:hsl(109, 75%, 55%, 1)" autofocus>Disponible</button>
					</div>
				</p>
			</td>
		</tr>
	</table>
</template>