<template name="tableauSemaines">
	<table style="width:100%;">
		<tr>
			<td style="width:100%;">
				<table border=1>
					<tr>
						<td style="height:30px; border: white solid 5px;">&nbsp;</td>
						{{#each jour}}
							{{> newTr}}
						{{/each}}
					</tr>
					{{> newTd}}
				</table>
			</td>
		</tr>
		<tr>
			<td align="right" style="width:100%;">
				<p style="width:50%;margin-right:10px;">
					<div class="btn-group btn-success" role="group"  aria-label="Times New Roman">
						<button id="red" class ="button; btn btn-secondary" style="background-color:rgb(0,132,255); color:white;padding:15px 25px; text-align:center; border: none; cursor:pointer; " >Pas Disponible</button>
						<button id="yellow" class ="button; btn btn-secondary" style="background-color:rgb(0,132,255); color:white;padding:15px 25px; text-align:center; border: none; cursor:pointer;">Maybe</button>
						<button id="green" class ="button; btn btn-secondary" style="background-color:rgb(0,132,255); color:white;padding:15px 25px; text-align:center; border: none; cursor:pointer;">Disponible</button>
					</div>
				</p>
			</td>
		</tr>
	</table>
</template>