/* CSS declarations go here */
.s-alert-success {
    background: gold;
    color: #fff  /* your text color here */
}
.s-alert-warning{
    background: crimson;
    color: #fff
}
.s-alert-info{
    background: mediumseagreen;
    color: #fff;
}
.s-alert-error{
    background: orange;
    color: #fff;
}
.heureSemaine:hover{
   background: rgb(214, 203, 203);

}
.joursSemaine:hover{
    background: rgb(214, 203, 203);
}

