/* CSS declarations go here */
.s-alert-success {
    background: hsla(109, 75%, 55%, 1);
    color: #fff  /* your text color here */
}
.s-alert-warning{
    background: hsla(09, 75%, 55%, 1);
    color: #fff
}
.s-alert-info{
    background: hsla(109, 75%, 55%, 1);
    color: #fff;
}
.s-alert-error{
    background: hsla(49, 75%, 55%, 1);
    color: #fff;
}